<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/styles.css">
        <title>KWK Chicago - Personality Finder</title>
    </head>
    
    <body class="home">
     <br> <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/taylor">Taylor</a></li>
      <li><a href="/isabel">Isabel</a></li>
      <li><a href="/jiaming">Jiaming</a></li>
    </ul>
  </header></br>
  
  <center><h1 class="heading">Find Your Personality!</h1>
 <br>
  <br>
  <br>
  
<p>Welcome to our website! What you are looking at right now is created by 3 very enthusiastic scholars, who all take part in Chicago's KodeWithKlossy camp. We made a quiz just for you for the fun of it...Take the quiz and find out who you most relate to!</p>
<br>
<br>
  <br>


<h4 class ="heading">Quiz Time!</h4>
<br>
<p class = "Stuff">Now, just like we promised, here's the quiz!<center></p>
        <h1>How well do you relate to us?</h1>
        
        <form method="POST" action="/results">
            
            <h2>What do you like best?</h2>
                <input type="radio" name="question1" value="0">Reading<br>
                <input type="radio" name="question1" value="5">Swimming<br>
                <input type="radio" name="question1" value="10">Rock-climbing<br>
            
            
            <h2>What do you like best?</h2>
                <input type="radio" name="question2" value="0">Rice<br>
                 <input type="radio" name="question2" value="5">Spaghetti<br>
                  <input type="radio" name="question2" value="10">Fried-rice<br>
                
            
            <h2>What is your favorite subject in school out of these?</h2>
                 <input type="radio" name="question3" value="0">Language-arts<br>
                 <input type="radio" name="question3" value="5">Math<br>
                  <input type="radio" name="question3" value="10">Logic<br>
                
            <h2>What is your favorite color out of these?</h2>
                 <input type="radio" name="question4" value="0">Red<br>
                 <input type="radio" name="question4" value="5">Blue<br>
                  <input type="radio" name="question4" value="10">Purple<br>
            
            <h2>What is your favorite brand of shoes out of these: Universal Thread, Nike, or New Balance?</h2>
                 <input type="radio" name="question5" value="0">Universal Thread<br>
                 <input type="radio" name="question5" value="5">Nike<br>
                  <input type="radio" name="question5" value="10">New Balance<br>    
            
            <br>
            <button type="submit">Lets see who you are most like: Taylor, Isabel, or Jiaming!</button>
            
          

        </form>
        
    </body>
</html>
