<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/styles.css">
        <title>Isabel!</title>
    </head>
    <body class="isabel">
        <h1>Isabel!</h1>
    </body>
</html>