<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/styles.css">
        <title>Isabel!</title>
    </head>
    <body class="isabel">
      <header>
    <ul>

      <li><a href="/">Home</a></li>
      <li><a href="/taylor">Taylor</a></li>
      <li><a href="/isabel">Isabel</a></li>
      <li><a href="/jiaming">Jiaming</a></li>
    </ul>
  </header></br>
        <font size="3" color="white"><h1>Isabel!</h1>
    </body>
    <html>
  <center><h1>Hello!</h1>
    <head>
      <style> 

</style>
      </head>
      <p>My name is Isabel. I am a 2018 Chicago Kode with Klossy Scholar! And this is my page!<p>
    <p>I love sports including rock climbing, volleyball, and American Ninja Warrior! In rock climbing I think it's fascinating how people can control their bodies! Like this girl, Brooke Raboutou.</p>
<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gTFktTiDBdQ?start=3" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

 
 
  <br>
  <p>I find American Ninja Warrior facinating! When you're strong it's really cool because you can climb something, hang from stuff, and do amazing things! This is Jesse Labreck. She's an amazing 'ninja' and Jesse is REALLY strong!!</p>
  
 <iframe width="560" height="315" src="https://www.youtube.com/embed/Q01rLbIRrvE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  

  <p>I also love volleyball! I think it's a really fun sport and it's fun working with your teammates too! Volleyball is so cool because if one person does their job poorly then everything is a bit off. You REALLY have to trust your teammates!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I_jo32SBGRs?start=11" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  
  <p>I think it's so cool that technology and another interest you have can go hand in hand! Tech has helped sports a lot! In volleyball they can use tech to help referees make calls on plays. Not to mention letting us watch our favovorite sport on tv! Or read about it on websites or watch clips on YouTube!</p>
  
  <p>Thanks for stopping by my page!</p></font>
</html>