
<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/styles.css">
        <title>Jiaming!</title>
    </head>
    <body class="jiaming">
      <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/taylor">Taylor</a></li>
      <li><a href="/isabel">Isabel</a></li>
      <li><a href="/jiaming">Jiaming</a></li>
    </ul>
  </header></br>
        <h1>Jiaming!</h1>
    </body>
</html>
<body class="info">
 <span>I'm a student who attends Chicago's KodeWithKlossy camp. With what I've learned (and with my group too!) I/we was/were able to create this website that you are now looking at.<span>
  <br>
  <br>
  <br>
  <span>Also, if you took the quiz on our home page and related to me the most, you probably want to know a bit about me. (And of you didn't take the quiz, go to our home page and take that quiz- like, right now!)
  <br>
    So here goes! :</span>
 <br>
  <br>
 What I love:
  <br>
  <br>
  <li> Reading
    <br>
    - If there's one thing that you need to know about me, it's that I'm an extreme bibliophile- bookworm! I LOVE to read- it doesn;t matter what- I just have to get through a book every day- reading is just that important to me.
    <br>
    <br>
  <li> Journaling/Writing
    <br>
    - It's true that I keep a journal, and that I write and "communicate" all my feelings with it. And I love to write- it's not only fun, but also good exercise for your brain.
  <br>
    <br>
  <li> Design
      <br>
      - I love to design and organize things- objects, presentations, etc- and it's the same with clothes/outfits: I like to draw out patterns and sew in some cute designs...fashion is fun!
    <br>
    <br>
    What I like:
    <br>
    <br>
    <li> Art
      <br>
      - Even if I'm not good at it, I enjoy drawing- expressing myself through creativeness, doodling whatever I wish without limit, without rules.
      <br>
      <br>
      <li> Volleyball
        <br>
        - This is my favorite sport- the only one that I truly enjoy- and have fun playing kin gym class.
        <br>
        <br>
Favorite Food
        <ol>- Rice
          <br>
          <br>
          Favorite colors:
          <br>
          <li> Majenta
          <li> Purple
          <li> Red
            <br>
            <br>
 <p><span> Now, before you leave this page and go check out the others, I'd like to leave you with 5 of my I-most_reccomend-you-read-it books and a quick summary I put together- books that you should read regardless of any occasion, books that can be read <i>any</i> time, by anyone:
   <br>
   <li1><u>Island of the Blue Dolphins</u>
     <br> -<u>As Island of the Blue Dolphins</u> opens, Karana and her brother, Ramo see a ship approaching their island. When the ship lands, the chief of their village (also their father), Chowig goes to meet the visitors, along with a number of his warriors. The representative of the strangers is Captain Orlov, a Russian, who has come with a native American tribe known as the Aleuts to hunt otter on the island of the blue dolphins (known to its inhabitants as Ghalas-at). There is disagreement between the two, and trouble begins.</u>
   <br>
   <li1><u>The Darkest Hour</u>
     <br> -After the Nazis killed Lucy's brother on the North African front, she volunteered at the Office of Strategic Services to take part for the war effort. Only instead of a desk job at the OSS, she got to join the Clandestine Operations -- a secret espionage and sabotage organization of teen girls. They are a secret operation ready to take down Hitler.
     <br>
     <li1><u>The Diary of Anne Frank</u>
       <br> - During World War II, a teenage Jewish girl named Anne Frank and her family are forced into hiding in the Nazi-occupied Netherlands. Soon they are joined by some friends and a stranger- but could they handle it? Food is running short, and Nazis come to hunt the streets everyday.
       <br>
       <li1><u>The City Of Ember</u>
         <br>-Lina and Doon are citizens of the city of Ember, a city surrounded by darkness. There is no moon and no sun, and when the lights in the city are off, it is completely dark. They have always lived here, and no one has any idea how the generators work or how they came to be in the city of darkness. After graduating from school, children are assigned jobs. Lina wishes to be a messenger, but she is given the title of pipe worker instead. Her friend Doon gets the job she wants, and so they arrange to trade. Lina begins delivering messages, and during her time traveling through the city, she starts to hear that the generators are failing and that food stores are disappearing. No one can seem to figure out why.
         <br>
         <li1><u>The Last Best Story</u>
           <br>-Rose was a key reporter for her high school paper, destined for a career in journalism, when she abruptly quit two months ago, leaving behind her crush and editor-in-chief, Grant. Now she is trying to be normal at her senior prom, with a new boy and new interests, and isn’t looking back.</span>
     
  <head>
      <style> 
body {
    background-image: url(https://images.pexels.com/photos/414160/pexels-photo-414160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-color: #ccccff;
}

</style>
      </head>