<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" type="text/css" href="/styles.css">
       <font size="3" color="black"
    </head>
    <body class="taylor">
        <h1>Taylor!</h1>
    </body>
</html>

<!DOCTYPE html>
<html>
  <h1>Welcome to Taylor's Page!</h1>
  <h3>So I really love swimming and just want you guys to know some important things about swimming!</h3>
  <h2> 1. Swimming is an individual sport. No question!</h2>
  <h3>So basically almost all events are individual besides relays. Relays are at the end of Saturday or Sunday normally. And sometimes they are skipped because there isn't enough time. You have your teamates to support you through practice but at meets they will be your competitiors. So unlike team sports like basketball, soccer, or football swimming is very much a indivudal sport.</h3>
    <img src="https://pbs.twimg.com/media/CovAkobVIAAbnbi.jpg">  
  <h2>2. Swim meets take a long time! Like forever!</h2>
   <h3>At regular season meets there are 3 days, Friday afternoon, all day Saturday and all Sunday (except for high school season). So each morning and afternoon session can take a long time, about four hours. So be prepared to spend a long time waiting for your events!</h3>
  <h2>3. Swimming is really hard and competitive!</h2>
   <h3>There are tons of people who swim at meets and the number of swimmers who qualify for regionals, state, zone, and nationals is still high! Like the Illinois Age Group State Championships (for ages 14 and under) takes 4 days: Thursday, Friday, Saturday, and Sunday! There are a lot of people swimming every single day! All the qualifying cuts for either state, zone, or nations are very hard. You may get top ten in the state in an event and may not have a zone cut. Too competitive!
     <br></br>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/Fky0DkqXxtI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
     <h2>4. Everything counts!</h2>
     <h3>Technique counts, everything counts. If your turn on the wall isn't the fastest or your finish isn't the best that can affect your time big time. Maybe you could have dropped 1.5 seconds, but only dropped 0.75 seconds. Even the smallest things like hand placement on the wall of a turn can affect your time. And if during a race you don't get off the block quick enough, and everyone gets off faster, then you will be behind everyone. And you don't want that!
  <h2>5. Be prepared to train hard and spend a lot of time in the water!</h2>
  <h3>If you do not maintain a good work ethic when swimming it will be hard to keep up endurance, even if you are swimming 100 yards! 
    So if you skip swimming practice for a season or even a week, when you get back to practice you will feel sluggish and slow. I know this sounds silly but in order to maintain your feel for the water, you need to keep practicing! If you have an injury don't come back until you are well again, but if you don't keep coming! (Overall I spend 12 hours practicing a week in the water.)</h3>
       <img src="https://pbs.twimg.com/media/Di0mrgBXcAEuglY.jpg">
       <h2>6. Swimming takes dedication in and out of the water!</h2>
     <h3>You need to eat healthy, get a fair share of carbs, protein, and vegatables. Snacks can help with energy and recovery, if have a choice between donuts or protein bars, an athlete should choose the protein bar. It also takes dedication during dryland, a conditioning for swimming outside of the water. All of this is very important and plays a part in swimming!    
        <br></br>
       <img src="http://static.dudeiwantthat.com/img/food/snacks/rxbars-whole-food-protein-27106.jpg">
  <h2>7. You need to be confident and not doubt yourself!</h2>
  <h3>So in order to be successful in swimming, you have to have good mental training. So when you are about to swim you need to believe in yourself! Being negative will just impact yourself, your teammates, and coach. In swimming it is all you and your attitude!</h3>
 <img src="https://pbs.twimg.com/media/DF--Y7fVYAAXipf.jpg">
 <b></b>
       <h3>Anyway thanks for checking out my page and make sure to check out Isabel's and Jiaming's!</font></h3>
       </html>