<!DOCTYPE html>
<html>
    <head>
       <link rel="stylesheet" type="text/css" href="/styles.css">
        <title>Taylor!</title>
    </head>
    <body class="taylor">
        <h1>Taylor!</h1>
    </body>
</html>
